extends ../layout
block head
    link(rel='stylesheet', href='/stylesheets/home/about.css')
block content
    .pager#about
        .container
            .myimg
                img(src='/images/myimg.png')
            .about-content
                .quote
                    i.icon-quote-left
                    span 伟大始于渺小
                    i.icon-quote-right
                h3 潇
                .aboutme
                    p 九二年生
                    p 现于北京工作
                    p 喜欢文字,却又不善表达
                    p 不懂设计，却附庸设计
                    p 爱自由，有梦想
                .connect
                    h3 联系方式
                    ul
                        li
                            |微信：mX_12345
                        li
                            |邮箱：muxiaosc@foxmail.com
